<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
        <providers>
            <timestamp/>
            <loggerName/>
            <logLevel/>
            <message/>
            <keyValuePairs>
                <writeKeyValuePairsAsJsonObjects>true</writeKeyValuePairsAsJsonObjects>
            </keyValuePairs>
            <stackTrace/>
        </providers>
    </encoder>
</appender>
